.form-item-local--orcid-und-0-chado-contactprop--value {
	margin-bottom: 0px !important;
}

.tripal_contact_profile_form .field-name-schema--name {
	display: none;
}

.tripal_contact_profile_form .field-name-schema--additional-type {
	display: none;
}

#button_populate_orcid {
	padding: 5px;
	border-radius: 3px;
	background: #000000;
	color: #FFFFFF;
}

#button_populate_orcid_container {
	margin-bottom: 10px; 
}

.form-item-mail .help-block {
	display: none;
}

#registermulti_step_status {
	margin-bottom: 10px;
}

#registermulti_step_status div {
	display: inline-block;
	padding: 5px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	margin-right: 5px;
	border-radius: 2px;
}

